.frost-sidebar {
  position: absolute;
  max-width: 350px;
  min-height: 100px;
  max-height: 250px;

  .liquid-container > .liquid-child {
    width: auto;
    height: auto;
  }

  &-open {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  &-closed {
    width: 70px;
    height: 65px;
  }

  &-content-container {
    padding: 5px;
    background-color: $frost-color-white;
    box-shadow: 1px 3px 15px $frost-color-grey-5;
    z-index: $frost-z-index-modal;

    .frost-scroll {
      max-width: 300px;
      max-height: 200px;
    }
  }

  &-content {
    padding: 20px;
  }

  &-tab {
    width: 40px;
    height: 45px;
    border-radius: 4px;
    background-color: $frost-color-white;
    box-shadow: 1px 2px 5px $frost-color-grey-5;
    cursor: pointer;
    z-index: $frost-z-index-modal;

    &-icon {
      width: 35px;
      height: 35px;
      margin-top: 5px;
      margin-right: 2px;
      vertical-align: middle;
    }

    &:hover {
      &:not(.frost-sidebar-tab-open) {
        width: 50px;
        padding-left: 10px;
      }
    }

    &-open {
      background-color: $frost-color-night-3;
    }
  }
}
