.frost-sidebar {
  position: absolute;

  .liquid-container > .liquid-child {
    width: auto;
    height: auto;
  }

  &-open {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 5px 10px 0;

    .frost-sidebar-button {
      height: 45px;
    }
  }

  &-closed {
    margin: 5px 5px 5px 0;

    .frost-sidebar-button-label {
      border-right: 1px solid $frost-color-lgrey-2;
    }
  }

  &-content-container {
    max-width: 300px;
    min-height: 100px;
    max-height: 200px;
    padding: 5px;
    background-color: $frost-color-white;
    box-shadow: 1px 3px 15px $frost-color-grey-5;
    z-index: $frost-z-index-modal;

    .frost-scroll {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    padding: 20px;
  }

  &-button {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    background-color: $frost-color-white;
    box-shadow: 1px 2px 5px $frost-color-grey-5;
    cursor: pointer;
    z-index: $frost-z-index-modal;

    &-label {
      margin: 0 10px;
      padding-right: 10px;
    }

    &-icon {
      width: 35px;
      height: 35px;
      vertical-align: middle;
    }

    &:hover {
      &:not(.frost-sidebar-button-open) {
        padding-left: 10px;
      }
    }

    &-open {
      background-color: $frost-color-night-3;
    }
  }
}
