.frost-sidebar {
  position: absolute;
  left: 0px;
  max-width: 350px;
  min-height: 100px;
  max-height: 250px;

  .liquid-container > .liquid-child {
    width: auto;
    height: auto;
  }

  &-open {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  &-closed {
    width: 70px;
    height: 65px;
  }

  &-content-container {
    padding: 5px;
    background-color: $frost-color-white;
    box-shadow: 1px 3px 15px $frost-color-grey-5;
    z-index: $frost-z-index-modal;

    .frost-scroll {
      max-height: 200px;
      max-width: 300px;
    }

    .ps-scrollbar-x-rail{
      background-color: $frost-color-white;
      position:relative;
    }

    .ps-scrollbar-y-rail{
      background-color: $frost-color-white;
      position:absolute;
    }
  }

  &-content {
    padding: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  &-tab {
    padding-top: 0px;
    width: 40px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 2px 5px $frost-color-grey-5;
    background-color: $frost-color-white;
    z-index: $frost-z-index-modal;

    &-icon {
      vertical-align: middle;
      width: 35px;
      height: 35px;
      margin: 5px 0px 0px 2px;
    }

    &:hover:not(.frost-sidebar-tab-open) {
      padding-left: 10px;
      width: 50px;
    }

    &-open {
      background-color: $frost-color-night-3;
    }
  }
}
