  <h1>frost-sidebar testbed</h1>

      {{#frost-sidebar class="demo-instance"}}
          <div class="demo-pod-content">
              <h4>Test content</h4>
            {{frost-checkbox  checked=true label="Check me"}}
          </div>
      {{/frost-sidebar}}

