<div class='addon-demo'>
  <div class='addon-demos'>
    <div class='addon-demo-title'>
      Demos
    </div>
    {{#frost-scroll class='addon-demo-selectors'}}
      {{#link-to 'demo.overview'}}Overview{{/link-to}}
      <div class='addon-demo-selector-title'>
        More details
        {{#link-to 'demo.content'}}Content{{/link-to}}
        {{#link-to 'demo.dynamic-updates'}}Dynamic updates{{/link-to}}
      </div>
    {{/frost-scroll}}
  </div>
  {{#frost-scroll class='addon-demo-example'}}
    {{outlet}}
  {{/frost-scroll}}
</div>
